@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --main-bg-color: #2874f0;
    --main-color: rgb(0, 0, 0);
    --clr-neon:rgb(17, 0, 255);
    --clr-bg:hsl(323 21% 16%);
  }

*{
margin: 0;
padding: 0;
}

body{
    overflow-x:hidden;   
}
/* start of loading overlay */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    display: flex;
    justify-content:center;
    align-items: center;
    background: var(--clr-bg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--clr-neon);
}

.neonbutton{
    font-size:7em;
    color: rgb(165, 161, 161);
    display: inline-block;
    cursor: default;
    text-decoration: none;
    border: var(--clr-neon) .25em solid;
    padding:0.25em 1em;
    border-radius:1em;
    animation: glow 2s linear infinite;
    position: relative;
    transition: background-color 200ms linear;
 }  

 .neonbutton::before{
     
    content:""; 
    animation: shadowglow 2s linear infinite;
 }
/* end of loading overlay */
/* starting of secondary nav code  */
 #linenav{
    float: right;
    cursor: pointer;
    font-size:3rem;
    position: sticky;
    top: 3.5rem;
    right: 5rem;
    z-index: 6;
    display: none;
}

.secondarynav{
    background: rgba(0, 0, 255, 0.818);
    position: fixed;
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    transform: translateX(-100%);
    z-index: 2;
}

.snavoption{
    padding: 10px;
    font-size:3rem;
    list-style: none;
    color: white;
    margin-left:10rem;
    cursor: pointer;
}

.snavoption:hover{
    background: rgb(247, 0, 214);
    border-radius: 1rem;
}

#cross{
    list-style: none;
    font-size:3rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 14rem;
}
/* end of secondary nav code  */
/* start for nav bar  */
header{
    height: 10vh;
    background-color:rgb(245, 245, 250);
    position: sticky;
    top: 0%; 
    width: 100%; 
    z-index: 5; 
    border-radius: 1rem;
    box-shadow: inset .3rem .3rem rgb(59, 58, 58) ;
}
.logo2{
    display: none;
}
header ul {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    
}

header ul li{
    list-style: none;
    padding: 2.5rem;    
}

header ul li a{
    
    text-decoration: none;
    color: var(--main-color);
    font-family: 'ubuntu', sans-serif;
    font-size:2.5rem;
    padding-left: 1.0rem;
    padding-right:  1.0rem;
    border: .3rem solid transparent;
    border-radius: 1ch;
    transition: background-color .5s;
}

.logo2{
    display: none;
    position: sticky;
    left:10rem;
}
.logo{
    margin-right: 10.0rem;
    max-width: 100%;
    margin-top: 1em;
    margin-right: -20rem;
}

.home{
    border-radius: 1ch;
    color: rgb(0, 0, 0);
    font-size:2.5rem;
    margin-left: 35rem;
}
.product{
    border:.3rem solid #ee2073;
    border-radius: 1ch;
    background-color: #ee2073;
    transition: background-color 1s;
    color: white;
    font-size:2.5rem;
}

.product:hover{
    border:.3rem solid #ee2073;
    border-radius: 1ch;
    background-color: #ee2073;
    transition: background-color 1s;
    color: white;
    font-size:2.5rem;
}

#product{
    position: relative;
}
.productnav{
    width: 17rem;
    height: 25rem;
    border-top: 2px solid rgba(225, 0, 255, 0.945);
    background-color:#ee2073;
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
    border-radius: 1rem;
    z-index: 2;
}
header ul li ul li{
    padding: 1.5rem;
}

 .p{
    position: relative;
    left:-1%;
    top: 0%;
    padding-top: 1rem;
    padding-left: 2rem;
    width: 2rem;
    height: 5rem;
    background: rgb(245, 245, 250);
    
}
.p2{
    position: relative;
    left:1%;
    top: 0%;
    padding-top: 1rem;
    padding-left: 2rem;
    width: 2rem;
    height: 5rem;
    background: rgb(245, 245, 250);
    
}

.productnavelem{
    font-family:  sans-serif;
    color: white;
    font-size:2rem;
    line-height:.5rem   

}

.productnavelem:hover{
    background-color:rgb(27, 2, 247);
}

.home:hover{
    border:.3rem solid #ee2073;
    border-radius: 1ch;
    background-color: #ee2073;
    transition: background-color 1s;
    color: white;
    font-size:2.5rem;
}

.process:hover{
    border:.3rem solid #ee2073;
    border-radius: 1ch;
    background: #ee2073 ;
    transition: background-color 1s  ;
     color: white;
     font-size:2.5rem;
}

.contact:hover{
    border:.3rem solid #ee2073;
    border-radius: 1ch;
    background-color: #ee2073;
    transition: background-color 1s;
    color: white;
    font-size:2.5rem;
}

.branches:hover{
    border:.3rem solid #ee2073;
    border-radius: 1ch;
    background-color: #ee2073;
    transition: background-color 1s;
    color: white;
    font-size:2.5rem;
}

/* coding end for nav bar */
main{
    height: 150vh;

}

.centertext{ 
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    position: absolute;
    top: 8rem;
    left: 61.5rem;
}
.centertextcurd{
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    position: absolute;
    top: 8rem;
    left: 61rem;
}
.centertextghee{
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    position: absolute;
    top: 8rem;
    left: 61rem;
}
.centertextflav{
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    position: absolute;
    top: 8rem;
    left: 52.5rem;
}
.centertextbutter{
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    position: absolute;
    top: 8rem;
    left: 59rem;
}
.centertextpaneer{
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    position: absolute;
    top: 8rem;
    left: 60rem;

}
.bannermilk{
    position: relative;

}
.bannerlink{
    position: absolute;
    top: 12rem;
    left: 55rem;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}
.bannercls{
    text-decoration: none;
    color: black;
}
.Milkimg img{
    margin-top: 10rem;
    width: 60rem;
    
    
}
.textmilk h3{
    font-size: 3.5rem;
    font-family: 'ABeeZee', sans-serif;
    margin: 2.5rem 0;
    color: rgb(32, 32, 99);
}
.textmilk{
    display: flex;
    flex-direction: column;
    /* margin-top: 5rem; */
   
    
}
.paramilktext{
    
    font-family: Garamond, serif;
    font-size: 2rem;
    font-family: 'ABeeZee', sans-serif;
   
}
.energytext{

    color: rgb(52, 52, 53);
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.5rem;
    margin: 5rem 0;
    top: 67rem;
    right: 55rem;
}
.tablemilk{
    
    /* border: 2px solid blue;  */
    margin: 3rem 0;
    text-align: left;
    padding: 0.5rem;
    font-family: Garamond, serif;
    
    font-size: 2rem;
    
    
}
.tablemilk td ,th{
    border: 2px solid rgb(24, 24, 26);  
    padding: .5rem;
    

}
.paneerread{
    
    margin-bottom: 50rem;
    padding-right: 3.0rem;
    padding-left: 3.0rem;
    border:.3rem solid #ee2073;
    border-radius: 2ch;
    background-color: #ee2073;
    color: white;
    font-size:  3.5rem;
    transition: background-color .25s;
    text-decoration: none;
 }

 .paneerread:hover{
    border:.3rem solid rgb(27, 2, 247);
    border-radius: 2ch;
    background-color: rgb(27, 2, 247);
    transition: background-color .25s;
    color: white;
    font-size: 3.5rem;
    text-decoration: none; 
 }
/* .avaintab td, th{
    margin: 3rem 0;
    text-align: left;
    padding: 0.5rem;
    font-family: Garamond, serif;
    font-size: 2rem;
    border: 2px solid rgb(24, 24, 26);
} */

.mainimg{
    display: flex;
    flex-direction: row;
    height: 100vh;

}
/* code for moving cow image */

.movingimg{  
    animation: move 5s 1 forwards;
} 
@keyframes move{
   
    0%{
        transform: translate(0%);
        
    }

    90%{
        transform: translateX(95%);
        opacity: 1;
    }  
    100%{
        transform: translateX(95%);
        opacity: 0;
    }
    

}
footer{
    text-align: right;
    color: white;
    overflow: hidden;
    padding-right: 4.0rem; 
    height: 20.6rem;   
    background:rgba(0, 0, 0, 0.616);
    font-size: 1.5rem;
    position: sticky;

}

.footerflex{
    display: flex;
    padding: 0 10rem;
}

.contactdetail{
   text-align: left;
   font-size: 1.5rem;
   color: rgb(255, 255, 255);
   font-weight: bold;
}

.footerlogo{
    padding-left: 20rem;
}

#time{
    text-align: right;
    color: white;
}

.footertext{
    text-align:center;
    background:rgba(0, 0, 0, 0.616) ;
    width: 110%;
}
